In [20]:
import plotly
import plotly.plotly as py
import pandas as pd

In [21]:
# sign up for a free account at https://plot.ly/api_signup
plotly.tools.set_credentials_file(username='Enter_username_here', api_key='Enter_Key_Here')

In [22]:
df = pd.DataFrame([1,2,3,4,5], columns=['example'])

In [23]:
df

   example
0        1
1        2
2        3
3        4
4        5

In [24]:
fig = {'data': [{'x': df['example']}]}

#source: https://plot.ly/pandas/line-and-scatter/

In [25]:
py.plot(fig)

'https://plot.ly/~cd412/2'